music
*.env
local
.vagrant
.DS_Store
._.DS_Store
*.pyc
mplayer.err
mplayer.out
playlist.txt
node_modules
._*
switchboard.log
.idea
venv/**/*
services/freshbeats/config/settings.cfg
webapp/config/settings_env.py
webapp/src
webapp/beater/static/icons-1.0.0-alpha2
