h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

.btn-warning, .btn-danger {
  color: black;
}

.title {
	background-color: #633;
	color: #3fc;
	padding: 1em;
}

.title h2 {
	margin: 0;
}

.menu .current {
  color: #ccc;
  font-weight: bold;
}

.result_type_header_container {
  height: 39px;
}

.result_name_container {
  height: 80px;
}

.sticky {
  position: fixed;
  top: 92px;
}

.result_type {
  top: 92px;
}

.result_name {
  top: 131px;
}

.playlist {
  max-height: 100px;
  overflow-y: scroll;
}

.playlist strong {
  color: white;
}

.stickyheader {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.content {
  margin-top: 2em;
}

.stickyheader + .content {}

#errors{
  text-align: center;
  //background-color: #fcc;
  color: #f00;
  //padding: 1em;
}

.row{
  // margin-bottom: 15px;
}

.row.status {
  margin-top: 1em;
}
.row.status .btn {
  color: black;
  font-weight: bold;  
}

#remainder_albums {
	table-layout: fixed;
}

#remainder_albums td {
	word-wrap: break-word;
}


.row.album, .row.song {
  margin-bottom: 1em;
}

.btn-artist, .btn-album {
  border: solid 1px black;
  background-color: #f33;
  color: white;
  font-weight: bold;
}

.credit {
  color: #999;
}

h3, h4 {
  color: #999;
}

strong {
  color: #666;
}

span.album, span.artist {
  color: #f30cd3;
}

.highlight {
	color: #f00;
}

form input[type=text] {
	width: 65vw;
}

input[type='checkbox'] {
	width: 5vw;
}

#new_artist_form input[type='submit'] {
	width: 19vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	input {
		font-size: 2em;
	}
	#search_results{
		font-size: 3em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
