[Unit]
Description=Freshbeats.pi Beatplayer Service
Wants=network.target
Before=network.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/opt/freshbeats/beatplayer
ExecStart=/opt/freshbeats/beatplayer/./mpplayer.py -a 0.0.0.0

[Install]
WantedBy=multi-user.target
