
<h2>{{ albums|length }} albums</h2>
<div style="height:600px;overflow-y:scroll;">


<table class="table table-striped">

	{% for album in albums %}
		
	<tr albumid="{{album.id}}">
		<td class="col-md-3">{{album.artist}}</td>
		<td class="col-md-5">
			<a href="#" class="btn btn-primary player_command" command="album" albumid="{{album.id}}">{{album.name}}</a>
			<br />
			<div class="album_action">
				{% if album.action and album.action != 'donothing' %}
					{{album.action}}
				{% endif %}
				{% if album.action == "remove" %}
					 | <a href="#" class="player_command" command="keep" callback="keepalbum_callback" albumid="{{album.id}}">keep</a>
				{% endif %}
			</div>
			<a href="{% url "beater.views.album" album.id %}" class="btn">view {{album.tracks}} songs</a>							
		</td>							
	</tr>

	{% endfor %}

</table>
</div>