<div class="row album">
	<div class="col-md-2">
    <div class="result_name_container">
		    <strong>ARTIST</strong><h3>{{name_highlight|safe}}</h3>
    </div>
    <a href="#" class="btn btn-artist player ajax" command="play" artistid="{{artist.id}}">play</a>
    <a href="#" class="btn btn-artist player ajax" command="splice" artistid="{{artist.id}}">splice</a>
    <a href="#" class="btn btn-artist player ajax" command="enqueue" artistid="{{artist.id}}">enqueue</a>
  </div>
</div>
<div id="artist_{{artist.id}}_album_container">
  {% for album in albums %}
  <div class="row album">
    <div class="col-md-2 text-left align-middle">
      <strong>ALBUM</strong><h4 class="align-middle">{{album.name}}</h4>
    </div>
    <div class="col-md-2">
      <a href="#" class="btn btn-primary btn-sm player ajax" command="play" albumid="{{album.id}}">play</a>
      <a href="#" class="btn btn-primary btn-sm player ajax" command="splice" albumid="{{album.id}}">splice</a>
      <a href="#" class="btn btn-primary btn-sm player ajax" command="enqueue" albumid="{{album.id}}">enqueue</a>
    </div>
  </div>
	{% endfor %}
</div>
<form id="artist_{{artist.id}}_new_album_form" method="POST" action='{% url "new_album" artist.id %}'>
   Add {{artist.name}} Album: <input id="artist_{{artist.id}}_album_name"
			class="blurpost"
			data-callback="onAlbumAdd"
			type="text"
			name="album_name"
			value="" />
</form>
