{% load beater %}

<div>{{ playlist.name }}</div>

{% if playlistsongs %}
  
  <div id="playlist_songs">
    {% for playlistsong in playlistsongs %}
    <div class="playlistsong {% if current_playlistsong_id and current_playlistsong_id|add:0 == playlistsong.id|add:0 %}current{% endif %}" id="playlist_queue_number_{{ playlistsong.queue_number }}">  
      {% if current_playlistsong_id and current_playlistsong_id|add:0 == playlistsong.id|add:0 %}<strong>{% else %}<a class="player" command="play" playlistsongid="{{ playlistsong.id }}" href="#">{% endif %}
      {{ playlistsong.queue_number }}: {{ playlistsong.song.title }} by {{ playlistsong.song.album.artist.name }} on {{ playlistsong.song.album.name }}
      {% if current_playlistsong_id and current_playlistsong_id|add:0 == playlistsong.id|add:0 %}</strong>{% else %}</a>{% endif %}
    </div>
    {% endfor %}
  </div>
  
{% else %}

  <div>empty playlist</div>

{% endif %}
