{% extends "base.html" %}

{% block content %}

			<div class="row">

				<div class="col-md-4">
					<h2>{{album.name}}</h2>
				</div>

				<div class="col-md-3">
					<h4>{{album.artist}}</h4>
				</div>

				<div class="col-md-3">
					<a href="#" class="btn btn-xs btn-primary command" endpoint="player" command="enqueue_album" albumid="{{album.id}}">enqueue album</a>
				</div>
			</div>
			
			<div class="row">

				<div class="col-md-12">

					<table class="table table-striped" style='margin-top: 1em;'>

						{% for song in songs %}
							
						<tr>
							<td class="col-md-5">{{song.name}}</td>						
							<td><a href="#" class="btn btn-primary command" endpoint="player" command="play_song" songid="{{song.id}}">play now</a></td>
							<td><a href="#" class="btn btn-primary command" endpoint="player" command="enqueue_song" songid="{{song.id}}">enqueue</a></td>
						</tr>

						{% endfor %}

					</table>
				</div>
			</div>

{% endblock %}