{% extends "base.html" %}
{% load beater %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h2>Devices <a href="{% url 'device_new' %}"><button class="btn btn-primary">new</button></a></h2> 
    <table id="device_table" width="100%" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>IP Address</th>
          <th>Agent Base URL</th>
          <th>Active?</th>
          <th>Last Device Health Report</th>
          <th>Status</th>
          <th>Player</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
          <tr>
            <td>{{ device.name }}</td>
            <td>{{ device.ip_address }}</td>
            <td>{{ device.agent_base_url }}</td>
            <td>{{ device.is_active }}</td>
            <td>{{ device.last_device_health_report }}</td>
            <td>{{ device.status }}</td>
            <td>{{ device.player.state }} / {{ device.player.playlistsong.song.name }}</td>
            <td>
              <a href="{% url 'device_edit' device.id %}">edit</a>
              <a href="{% url 'device_delete' device.id %}">delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
</div>

{% endblock %}
