{% extends "base.html" %}
{% load beater %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div id="manage_overlay" style="min-height: 600px;">
			<table id="manage_albums" width="100%"> 
				<thead>
					<tr>
						<th width="25%">Album</th>
						<th width="20%">Artist</th>
						<th width="15%">Tracks</th>
						<th width="15%">Size (MB)</th>						
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}