{% extends "base.html" %}
{% load beater %}

{% block content %}

<div class="row">
	<div class="col-md-6">
		<h2>Music Library</h2>
		<div id="remainder_overlay" style="min-height: 250px;">
			<table id="remainder_albums" width="100%">
				<thead>
					<tr>
						<th width="20%">Album</th>
						<th width="20%">Artist</th>
						<th width="10%">Tracks</th>
						<th width="10%">Size (MB)</th>
						<th width="10%">Added On</th>
						<th width="10%" wrap>Flags</th>
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h2>Device Output</h2>
		<pre id="device_output" style="height: 345px; overflow-y: scroll;"></pre>
		<div class="btn-group" role="group">
			<a id="plan_report" href="{% url "plan_report" %}" class="btn btn-default freshbeats_client">plan report</a>
			<a id="validate_plan" href="{% url "validate_plan" %}" class="btn btn-default freshbeats_client">validate plan</a>
			<a id="apply_plan" href="{% url "apply_plan" %}" class="btn btn-default freshbeats_client">apply plan</a>
			<a id="update_db" href="{% url "update_db" %}" class="btn btn-default freshbeats_client">update db</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Checked-Out ({{ checked_out_no_action_size }} MB)</h2>
		{% for b in checked_out_album_no_action_bins %}
			<table id="checkedout_albums" class='table table-striped'>
				<tr>
					<th>{{ b }} album</th>
					<th>artist</th>
					<th>size</th>
					<th></th>
				</tr>
				{% for album in checked_out_album_no_action_bins|getattribute:b %}
				{% include '_album_row_checkedout.html' %}
				{% endfor %}
			</table>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h2>The Plan</h2>
		<h3>To Check-in {{ checked_out_album_action_sizes|getattribute:'checkin' }} MB</h3>
		<table id="targeted_albums_checkin" class='table table-striped'>
			<tr>
				<th>album</th>
				<th>artist</th>
				<th>size</th>
				<th></th>
			</tr>
			{% for album in checked_out_album_action_bins|getattribute:'checkin' %}
			{% include '_album_row.html' %}
			{% endfor %}
		</table>
		<h3>Requested For Check-out <span id="requestcheckout_size">{{ other_album_action_sizes|getattribute:'requestcheckout' }}</span> MB</h3>
		<table id="targeted_albums_requestcheckout" class='table table-striped'>
			<tr>
				<th>album</th>
				<th>artist</th>
				<th>size</th>
				<th></th>
			</tr>
			{% for album in other_album_action_bins|getattribute:'requestcheckout' %}
			{% include '_album_row.html' %}
			{% endfor %}
		</table>
		<h3>To Check-out {{ other_album_action_sizes|getattribute:'checkout' }} MB</h3>
		<table id="targeted_albums_checkout" class='table table-striped'>
			<tr>
				<th>album</th>
				<th>artist</th>
				<th>size</th>
				<th></th>
			</tr>
			{% for album in other_album_action_bins|getattribute:'checkout' %}
			{% include '_album_row.html' %}
			{% endfor %}
		</table>
		<h3>To Refresh {{ checked_out_album_action_sizes|getattribute:'refresh' }} MB</h3>
		<table id="targeted_albums_refresh" class='table table-striped'>
			<tr>
				<th>album</th>
				<th>artist</th>
				<th>size</th>
				<th></th>
			</tr>
			{% for album in checked_out_album_action_bins|getattribute:'refresh' %}
			{% include '_album_row.html' %}
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
