{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<form id="new_artist_form" method="POST" action="{% url "new_artist" %}">
			<input tabindex="1" type="text" name="artist_name" placeholder="new artist.." value="" />
			<input tabindex="2" type="submit" value="Add" />
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form id="search_form" method="post">
			<input type="hidden" id="record_shop_mode" name="record_shop_mode" value="1" />
			<button tabindex="3" class="btn" id="record_shop_mode_btn">Record Shop Mode</button>
      <input tabindex="4" id="input_limit" type="text" name="limit" value="3" maxlength="1" style="width: 2em; text-align: center;" />
			<input tabindex="5" id="search" type="text" name="search" value="" />
		</form>
	</div>
</div>

<div id="search_results"></div>
{% endblock %}
