django==2.2.24
configparser
requests
click
pytz
#git+git://github.com/theatlantic/django-mysqlndb-backend.git@v1.1.0#egg=django-mysqlndb-backend
mysqlclient
#django-mysql
#MySQL-python
#MySQLdb
gunicorn
colorlog
django-dirtyfields
mutagen
